.find {
  height: 70vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;

  .left {
    flex-direction: column;
    color: white;
    width: 32vw;
    padding: 0 20px;

    h1 {
      font-size: 2rem;
      margin-bottom: 15px;
    }

    p {
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  .right {
    color: white;
    width: 32vw;
    background: #f17c0e;
    padding: 40px 40px;
    height: 53vh;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border-radius: 2px;

    h4 {
      font-size: 25px;
      margin-bottom: 15px;
    }

    li {
      font-size: 18px;
      margin-bottom: 10px;
      line-height: 25px;
    }
  }
}
