.card {
  height: 80vh;
  background: black;
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  .text {
    line-height: 40px;
  }

  .items {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item {
    width: 22vw;
    height: 25vh;
    text-align: center;
    line-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #f8aa0d;
    padding: 30px 0;
    border-radius: 5px;
    .icon {
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #f8aa0d;
      border-radius: 50%;

      i {
        font-size: 30px;
        padding: 20px;
      }
    }
    h4 {
      font-size: 1.5rem;
    }
    p {
      font-size: 15px;
      color: gray;
    }
    button {
      font-size: 20px;
      color: #f8aa0d;
      background: #000;
      margin-top: 10px;
      padding: 8px 20px;
      border-radius: 20px;
      border: 2px solid #f8aa0d;
    }
  }
}
