.show {
  height: 60vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;

  .item {
    height: 30vh;
    width: 30vw;
    background: url(../../assets/pexels-photo-1231643.jpeg);
    background-repeat: no-repeat;
    background-size: ;
  }
}
